table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #22be88;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0ddc1e;
}

tr:nth-child(even) {
    background-color: #e6c8c842;
}

tr:hover {
    background-color: #f1f1f1;
}

td[colspan="4"] {
    font-weight: bold;
    text-align: right;
    background-color: #e0e0e0;
}
